# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
1. Create Markdown cells in Jupyter Notebooks
2. Create Markdown cells with tables
3. Perform arithmetic expressions

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. SCALA
5. Java
6. C++
7. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. Python libraries like Matplotlib, Scikit-learn, Keras, etc.
2. Scala libraries like vegas or Big DL
3. R libraries like ggplot2

|Data Science Tools|
|------------------|
|Jupyter Notebook |
|Pandas |
|Scikit-learn|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Autor
Yonathan Fuentealba C.